body {
  font-family: "Helvetica";
  background-color: #cecbd4;
  color: #333333;
}

a {
  text-decoration: none;
  color: #333333;
  margin: 0px;
}

table {
  font-size: 0.8em;
}

tr {
  background-color: #eeeeee;
}

.profile-list {
  list-style: none;
  margin: 10px;
  padding: 0px;
}

.profile {
  margin-top: 30px;
  padding: 5px 10px 10px 20px;
  background-color: white;
}

img {
  height: 200px;
  width: 200px;
}

.imageText {
  font-size: 1.5em;
  vertical-align: top;
}
