body {
  font-family: "Helvetica Neue";
  background-color: #eeeeee;
  color: #333333;
}

.header span {
  font-size: 3.2em;
  color: #bbbbbb;
  vertical-align: top;
}

.header img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #333333;
  margin: 0px;
}

h2 {
  font-size: 2.5em;
}

table {
  font-size: 0.8em;
  width: 530px;
}

tr {
  background-color: #eeeeee;
}

.profile-list {
  list-style: none;
  margin: 10px;
  padding: 0px;
}

.profile {
  margin-top: 30px;
  padding: 5px 10px 10px 20px;
  background-color: white;
}

img {
  width: 250px;
  margin: 0px 30px 0px 0px;
}

svg {
  width: 530px;
}

.image-text-list {
  list-style: none;
}

div.image-box {
  float: left;
}

hr {
  clear: both;
  visibility: hidden;
}
